#start-btn
{
    width: 20%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background-position:center ;
    background-size: cover;
    color: aliceblue;
    background-color: black;
}
h1{
    font-family: cursive;
}
img{
    width:37%;
    border-radius: 15px;
    padding:10px;
}
.column{
    display:inline ;
    padding:10px;
}